/* Global Style */
@font-face {
	font-family: "Titillium Web Bold";
	src: url("../fonts/TitilliumWebBold.ttf");
}
@font-face {
	font-family: "Titillium Web Italic";
	src: url("../fonts/TitilliumWebItalic.ttf");
}
@font-face {
	font-family: "Titillium Web Regular";
	src: url("../fonts/TitilliumWebRegular.ttf");
}
@font-face {
	font-family: "Titillium Web Light";
	src: url("../fonts/TitilliumWebLight.ttf");
}
@font-face {
	font-family: "Titillium Web Semibold";
	src: url("../fonts/TitilliumWebSemiBold.ttf");
}
body {
	background:white;
	font-family: 'Open Sans', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.navbar-brand{
	height: auto;
}
hr {
	background-color: rgba(0,0,0,0.15);
	width: 100%;
	height: 4px;
}
/* Typography */
h1 {
	font-family: "Titillium Web Bold";
	font-size: 42px; 
}
h2 {
	font-family: "Titillium Web Bold";
	font-size: 40px; 
	text-transform: uppercase;
}
h3 {
	font-family: "Titillium Web Bold";
	font-size: 24px;
	text-transform: uppercase;
}
h4 {
	font-family: "Titillium Web Semibold";
	font-size: 24px;
}
h5 {
	font-family: "Titillium Web Regular";
}
h6 {
	font-family: "Titillium Web Regular";
}
p {
	font-family: "Titillium Web Regular";
	font-size: 18px;
}
/* Header Sections */
#header-wrapper {
	background: #87509c;
	color: white;
	padding-top: 45px;
	padding-bottom: 140px;
}
#header-wrapper h1 {
	text-align: center;
	padding-bottom: 60px;
}
/* btn-warning is inline aliment */
#header-wrapper .btn-warning { 
	display: block;
	margin:auto;
	text-transform: uppercase;
	font-family: "Titillium Web Semibold";
	font-size: 28px;
	padding: 27px 80px;
	box-shadow: inset 0px -5px 2px #c86a40;
}
#header-wrapper .navbar {
	padding-bottom: 100px;
}
#header-wrapper .nav a {
	font-family: "Titillium Web Regular";
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	padding: 10px 17px;
}
#header-wrapper .nav a:hover {
	background: #643a79;
	border-radius: 5px;
}
#header-wrapper .navbar-right {
	padding-top: 20px;
}
#header-wrapper .icon-bar {
	background: white;
}
#header-wrapper .navbar-toggle {
	padding-top: 25px;
}
/*Service*/
#services-wrapper {
	background: #00cc99;
	color: white
}
#services-wrapper h2 {
	text-align: center;
	padding-top: 100px;
}
#services-wrapper hr+p{
	text-align: center;
	padding-bottom: 80px;
}

#services-wrapper .col-sm-3 img{
	display: block;
	margin: auto;
	height: 100px;
}
#services-wrapper h3 {
	text-align: center;
}

#services-wrapper p {
	text-align: justify;
}
#services-wrapper .col-sm-3 {
	padding-bottom: 80px;
}
/*Team*/
#team-wrapper {
	background: #e7f1f8;
	color: #3c4761;
	padding-bottom: 50px;
}

#team-wrapper h2{
	text-align: center;
	padding-top: 100px;
}
#team-wrapper hr+p{
	text-align: center;
	padding-bottom: 70px;
}
#team-wrapper .col-sm-3 >img {
	display: block;
	margin: auto;
	border-radius: 100%;
}

#team-wrapper h3,
#team-wrapper p {
	text-align: center;
}
#team-wrapper .col-sm-3 h3+p {
	color: blue;
	padding-bottom: 20px;
}
#team-wrapper .col-sm-3 h3+p+p{
	padding-bottom: 20px;
} 
#team-wrapper .col-sm-3 .contact-icon {
	text-align: center;
}
#team-wrapper .col-sm-3 .contact-icon img{
	padding: 0px 5px
}
/* Skill Sections*/
#skills-wrapper {
	background: white;
	color: #3c4761;
}
#skills-wrapper h2 {
	text-align: center;
	padding-top: 100px;
}
#skills-wrapper p {
	text-align: center;
	padding-bottom: 75px;
}
#skills-wrapper .col-sm-3 img{
	display: block;
	margin: auto;
}
#skills-wrapper .col-sm-3 h3{
	text-align: center;
	padding-bottom: 110px;
}
/* Portfolio Section*/
#Portfolio-wrapper {
	background: #ffdd99;
	color: #393939
}
#Portfolio-wrapper h2 {
	text-align: center;
	padding-top: 100px;
}
#Portfolio-wrapper hr+p {
	text-align: center;
	padding-bottom: 15px;
}
#Portfolio-wrapper .Portfolio-button{
	text-align: center;
}
#Portfolio-wrapper .Portfolio-button button {
	font-family: "Titillium Web Regular";
	font-size: 18px;
	text-transform: uppercase;
	padding: 3px 25px;
	background: #ebc985;
}
#Portfolio-wrapper .Portfolio-button button:hover {
	background: white;
	margin: 4px 4px;
}

#Portfolio-wrapper .col-sm-6 img{
	display:block;
	margin: auto;
	padding-top: 50px;
}
#Portfolio-wrapper .col-sm-6 p{
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
}
#Portfolio-wrapper .row + button {
	display: block;
	text-align: center;
	margin: auto;
	font-family: "Titillium Web Semi Bold"
	font-size:18px;
	text-transform: uppercase;
	padding: 20px 50px;
	margin-bottom: 100px;
	margin-top: 20px;
	background: #17c2a4;
	color: white;
}
#Portfolio-wrapper .row + button:hover {
	background:#16b79b;
	color: red;
	box-shadow: inset 0px -5px 1px #14a58c;
}